= link_to 'Wrzuć fotkę', new_admin_photo_path, class: 'btn btn-primary'

.recent-photos
  %h2 Najnowsze fotki
  - recent_photos.each do |photo|
    %figure
      = image_tag photo.image(:thumb), class: 'img-thumbnail'
      %figcaption.label.label-default
        = photo.name
