.masonry-cn
  .search-cn
    .container
      .row
        .col-xs-12
          %form{:action => ""}
            .input-group
              %input.form-control{:placeholder => "Szukaj...", :type => "text"}/
              %span.input-group-btn
                %button.btn.btn-primary{:type => "button"}
                  %i.fa.fa-search
  / /input-group
  .container
    / <%= yield %>
    .row
      .col-xs-12
        .masonry
          %figure.item
            %a{:href => ""}
              %img{:alt => "", :src => "http://lorempixel.com/600/800/animals/1"}/
            %figcaption
              %ul
                %li
                  %a{:href => ""} #test
                %li
                  %a{:href => ""} #test1
                %li
                  %a{:href => ""} #test3
          %figure.item
            %a{:href => ""}
              %img{:alt => "", :src => "http://lorempixel.com/600/600/animals/2"}/
            %figcaption
              %ul
                %li
                  %a{:href => ""} #test
                %li
                  %a{:href => ""} #test1
                %li
                  %a{:href => ""} #test3
          %figure.item
            %a{:href => ""}
              %img{:alt => "", :src => "http://lorempixel.com/600/900/animals/3"}/
            %figcaption
              %ul
                %li
                  %a{:href => ""} #test
                %li
                  %a{:href => ""} #test1
                %li
                  %a{:href => ""} #test3
          %figure.item
            %a{:href => ""}
              %img{:alt => "", :src => "http://lorempixel.com/600/500/animals/4"}/
            %figcaption
              %ul
                %li
                  %a{:href => ""} #test
                %li
                  %a{:href => ""} #test1
                %li
                  %a{:href => ""} #test3
          %figure.item
            %a{:href => ""}
              %img{:alt => "", :src => "http://lorempixel.com/600/600/animals/5"}/
            %figcaption
              %ul
                %li
                  %a{:href => ""} #test
                %li
                  %a{:href => ""} #test1
                %li
                  %a{:href => ""} #test3
          %figure.item
            %a{:href => ""}
              %img{:alt => "", :src => "http://lorempixel.com/600/1000/animals/6"}/
            %figcaption
              %ul
                %li
                  %a{:href => ""} #test
                %li
                  %a{:href => ""} #test1
                %li
                  %a{:href => ""} #test3
          %figure.item
            %a{:href => ""}
              %img{:alt => "", :src => "http://lorempixel.com/600/900/animals/7"}/
            %figcaption
              %ul
                %li
                  %a{:href => ""} #test
                %li
                  %a{:href => ""} #test1
                %li
                  %a{:href => ""} #test3
          %figure.item
            %a{:href => ""}
              %img{:alt => "", :src => "http://lorempixel.com/600/500/animals/8"}/
            %figcaption
              %ul
                %li
                  %a{:href => ""} #test
                %li
                  %a{:href => ""} #test1
                %li
                  %a{:href => ""} #test3
          %figure.item
            %a{:href => ""}
              %img{:alt => "", :src => "http://lorempixel.com/600/1000/animals/9"}/
            %figcaption
              %ul
                %li
                  %a{:href => ""} #test
                %li
                  %a{:href => ""} #test1
                %li
                  %a{:href => ""} #test3
    .row
      .col-xs-12
        .load-more-cn
          %a.btn.btn-primary{:href => ""}
            %i.fa.fa-chevron-down
            Wczytaj więcej
  .clearfix
