.masonry-cn
  .container
    .row
      .col-xs-12
        .masonry

          - items.each do |i|

            %figure.item.dictionary
              = image_tag 'dot', alt: i.first.capitalize, height: 600, width: 600
              %figcaption
                %p= i.first.capitalize

            - i.last.each do |photo|

              %figure.item.with-hover
                %a{:href => animal_path(photo.name.downcase)}
                  = image_tag photo.image
                %figcaption.hover
                  %p= photo.name.capitalize


    .row
      .col-xs-12
        .load-more-cn
          %a.btn.btn-primary{:href => ""}
            %i.fa.fa-chevron-down
            Wczytaj więcej
  .clearfix
