%footer.site-footer
  .container
    .row
      .col-xs-12
        %ul.logos
          %li
            %a{:href => "#"}
              = image_tag 'handmade', alt: '', height: 70, width: 170
          %li
            %a{:href => "#"}
              = image_tag 'smultron', alt: '', height: 70, width: 170
