.row.steps-cn
  .col-sm-4
    %figure.step
      = image_tag('step-1', width: 360, height: 200, alt: '')
      %figcaption
        %p Komentuj, używając naszych memów
  .col-sm-4
    %figure.step
      = image_tag('step-2', width: 360, height: 200, alt: '')
      %figcaption
        %p Rób ze zwierząt ze schroniska gwiazdy internetu
  .col-sm-4
    %figure.step
      = image_tag('step-3', width: 360, height: 200, alt: '')
      %figcaption
        %p Zwiększaj ich szansę na znalezienie domu
